h1{
	cursor: pointer;
	border: solid 1px #000;
	font-family: sans-serif;
	text-align: center;
}

.selector{
	padding: 5px;
	margin: 5px 0;
	width: 100%;
	font-size: 36pt;
	font-family: sans-serif;
	text-align:center;
}

.kidButton {
	padding: 5px;
	margin: 5px 0;
	min-width: 28%;
	font-size: 36pt;
	cursor: pointer;
}

.timerBtn {
	width: 45%;
	font-size: 18pt;
}

.buttonBucket .activity {
	padding: 5px;
	margin: 5px 0;
	width: 100%;
	font-size: 36pt;
	cursor: pointer;
}

.buttonBucket {
	list-style-type: none;
	background-color: #999;
	max-height: 300px;
	overflow: hidden;
}

.buttonBucket .activity.played {
	background-color: #7F7;
	cursor: not-allowed;
	display: inline;
	
	padding: 5px;
	margin: 5px;
	width: 9%;
	font-size: 8pt;
}

.playing {
	background-color: #FF7;
}

.unplayed {
	background-color: #F77;
}

.timer {
	font-size: 64pt;
	
}

.looper {
	width: 30%;
}

.bottomPart {
	display:flex;
	margin: 10px 5px;
	min-height: 400px;
}

.reminderBtn {
	margin: 5px auto;
	width: 350px;
	font-size: 18pt;
}

.reminderRow {
	display:flex;
	border-bottom:1px solid #999;
}

.reminderRow:nth-of-type(even) {
	background-color: #CCC;
}

.reminderLabel{
	width: 250px;
}

.hide {
	display: none;
}

