body{
	background-color:#FFF;
	color:#222;
}

tr:nth-child(odd) {background-color: #CCC;}
li:nth-child(odd) { background-color: #CCC; }

.pnl{
	background-color:#EEE;
}

.cookies{
	background-color:#FFF;
	color:#222;
}

.mnu{
	background-color:#DDD;
}
.mnuSelected{
	background-color:#999;
}

.team0{
	background-color:#F99;
}
.team1{
	background-color:#99F;
}

.prestige{
	color:#333;
	background-color:#DDD;
	border:solid 2px #F99;
}
.modalContent{
	background-color:#FFFD;
}
.infoContent{
	background-color: #EEE;
	border: 1px solid #222;
}

.version{
	color:#DDD;
}

.featsList li:nth-child(4n+1){
	background-color:#FFF;
	border-top:solid 1px #777;
}
.featsList li:nth-child(4n+2){
	background-color:#EEE;
}
.featsList li:nth-child(4n+3){
	background-color:#BBB;
}
.featsList li:nth-child(4n+4){
	background-color:#999;
}

.subHelp li{
    background-color: inherit !important;
	border-top:none !important;
}