:root{
	--bg0: #000;
	--bg1: #0d47a1;
	--bg2: #092352;
	--c1: #AAA;
	--c2: #777;
}

body{
	background-color: var(--bg0);
	color: var(--c1);
	font-family: sans-serif;
}

button{
	font-size: 14pt;
	background-color: var(--bg1);
	color: var(--c1);
	box-shadow: none;
	border: solid 1px var(--bg1);
	margin: 1px;
	cursor: pointer;
}

a, a:visited{
	color: var(--c1);
}
div{
}

.activeFlavor{
}

.title{
	font-size: 16px;
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: underline;
	margin-bottom: 5px;
}

.componentName{
	padding-bottom: 0;
	margin-bottom:0;
}

.row{
	display: table-row;
}

.cell{
	display: table-cell;
	padding: 0 5px;
}

.block{
	border: solid 1px var(--c2);
	text-align: center;
}

.componentList{
	margin-block: 0;
}

.selected{
	border: solid 1px var(--c1);
}

.mutraction{
	width: 100%;
	position:fixed;
	bottom:0px;
	right:25px;
	text-align:right;
	background-color: var(--bg0);
	line-height: 25px;
}

.hide{
	display: none;
}

.generator{
	padding-left: 20px;
	display: flex;
}

.nowrap{
	white-space:nowrap;
}

.disabled{
	text-decoration:line-through;
	background-color: var(--bg2);
	color: var(--c2);
}