
textarea{
	width:100%;
}

button{
	width:50%;
	height:50px;
	float:left;
}

li{
	list-style:none;
	margin-bottom:5px;
}

.modalContainer{
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.modalContent{
	margin: 5% auto;
	padding: 20px;
	width: 600px;
	background-color:white;
}

.port{
	background-color:#CCD; 
	display:none; width:100%; 
	height:100%;
	position:absolute; 
	top:0px; 
	left:0px; 
}