body{
	background-color: #000;
	color: #ABC;
}

img{
	height: 32px;
	width: 32px;
	cursor: pointer;
}

button {
	background-color: #111;
	color: #AAA;
}

a:link{
	color: #ABA;
}
a:hover{
	color: #ABA;
}
a:visited{
	color: #ABA;
}

.loading{
	position:fixed;
	bottom:0;
	right:0;
}

.headRow img{
	height: 23px;
	width: 32px;
	padding-top: 8px;
	cursor: default;
}

.tabButton{
	width: 125px;
	margin: 0;
	background-color:#000;
	color: #456;
	border: solid 1px #777;
	cursor: pointer;
}

.selectedTab{
	background-color:#ABC;
	color: #000;
}

.inputRow{
	margin: 10px 0;
}

.tableRow{
	margin: 10px 0;
	display: flex;
	min-width: 900px;
}

.tableCell{
	margin: 10px 10px;
	text-align: center;
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	overflow:hidden;
	white-space:nowrap;
}

.linkCell{
	text-align: left;
}

.wideTableCell{
	width: 200px;
	min-width: 200px;
	max-width: 200px;
}

.headRow{
	font-weight:bold;
	cursor: default;
	border-bottom: solid 1px #777;
	background-color: #000;
}

.headCell{
	margin: 10px 10px;
	text-align: center;
	width: 100px;
	min-width: 100px;
	max-width: 100px;
	white-space: wrap;
	cursor:pointer;
}

.wideHeadCell{
	width: 200px;
	min-width: 200px;
	max-width: 200px;
}

.targetAchieved{
	background-color: #373;
	color: #CCC;
}

.sellRow{
	border: solid 3px green;
}

.inputArea{
	min-width: 777px;
	position: fixed;
	background-color: #111;
	width: 100%;
	top: 0;
	left: 0;
	padding: 10px;
	border-bottom: solid 1px #777;
	height: 90px;
}

.outputArea{
	margin-top: 117px;
}

.bag{
	display: flex;
	flex-wrap: wrap;
	width: 768px;
}

.bagItem{
	display: block;
	width: 64px;
	min-width: 64px;
	font-size: 8pt;
	white-space: break-spaces;
	text-align: center;
	border: solid 1px #222;
}

.hidden{
	display:none;
}
