body{
	font-family:Arial;
	font-size:12pt;
	scrollbar-width:thin;
}
body::-webkit-scrollbar{ width:6px; }
button{ 
	text-align:left;
	border-radius:15px;
	cursor: pointer;
}

th{ text-align:center; }

td{
	text-align: center;
}

li{ padding:2px 0px 2px 5px; }

input[type=checkbox] {
	transform: scale(1.3);
}
h3 {
	text-align:center;
	margin: 5px;
}

ul {
	list-style-type: none;
	padding:0px;
	margin-top:0px;
	margin-left:0px;
	margin-right:5px;
}

dt{
	width:100px;
}
dd{
	border-left:solid 1px #000;
	padding-left:3px;
}

label{
	margin-right:4px;
}

textArea{
	width:80%;
	height:35px;
}

canvas {
	position: absolute;
	left:0;
}

.mapLayer { z-index: 1; }
.unitLayer { z-index: 2; }

.inputRange{
	width: 90%;
	height: 3px;
	cursor: pointer;
	margin: 20px 0px;
}

.subList{
	
}

.port{
	display:inline;
	width:47%
}

.port button{
	width:80%;
	text-align:center;
}

.pointer{
	cursor: pointer;
	text-decoration: underline;
}

.cookies{
	border:solid 3px #0AF;
	display:block;
	width: 300px;
	padding: 10px 10px 10px 20px;
	position:fixed;
	bottom:5px;
	right:5px;
	border-radius: 50px 0 0 0;
}
.yes{
	background-color: #BFB;
	color: #000;
	border:0px;
}
.no{
	background-color: #D99;
	color: #000;
	border:0px;
}

.pnl{
	margin:0px;
	padding:0px;
	padding-bottom:2px;
}
.pnl0{
	width:100%;
	position:fixed;
	text-align:center;
	top:0px;
	left:0px;
	z-index:10;
}
.pnl1{
	width:99%;
	position:absolute;
	display:flex;
}
.noMap{
	height:95%;
}
.p1Block::-webkit-scrollbar{ width:6px; }
.p1Block{
	display:block;
	overflow-y:scroll;
	scrollbar-width:thin;
	width:100%;
}
.p1BlockChild{
	display:flex;
	height:100%;
	position:relative;
}
.p1BlockBaby::-webkit-scrollbar{ width:6px; }
.p1BlockBaby{
	margin:2px;
	overflow-y:scroll;
	scrollbar-width:thin;
}

.resourceContainer{
	min-width:125px;
	min-height:100px;
}
.resourceBox{
	border:1px solid #333;
	padding:3px 3px 5px 5px;
	position:fixed;
	right:0px;
	border-radius: 0 0 0 10px;
}

.infoTable{
	border:solid 1px #333;
	min-width:350px;
}

.unitImg{
	height:23px;
}

.minionQ{
	margin-left:2px;
}

.mnuBox::-webkit-scrollbar{ width:6px; height:6px; }
.mnuBox{
	width:140px;
	float:left;
	display:block;
	border:solid 1px #333;
	scrollbar-width:thin;
	overflow-y:auto;
	border-radius: 0 10px 10px 0;
}
.mnu{
	font-size:16px;
	width:95px;
	display:block;
	border:0px;
	outline:none;
	padding:6px 4px;
	margin:2px;
	border-radius: 0 50px 50px 0;
}
.mnuSelected{
	width:105px;
	padding-left:12px;
	background-color: #999;
}
.HK{
	color:#777;
	font-size:12px;
	float:right;
	padding:2px 2px 0 0;
	width:20px;
	text-align:center;
}
.upg{
	width:190px;
	display:block;
	margin:5px 2px;
	padding:15px;
	font-size:12pt;
	border:solid 1px;
	outline:none;
	color:#000;
	
	background-color:#D99;
	text-decoration: line-through;
	cursor:not-allowed;
}
.upg *{
	cursor:not-allowed;
}

.minionTabTop{
	width:100%;
	border-bottom:solid 1px #333;
}

.storeButton{
	width:90px;
	height:90px;
	text-align:center;
	margin:0px;
	
	background-color:#D99;
	color:#000;
	text-decoration: line-through;
	cursor:not-allowed;
}
.storeButton *{
	cursor:not-allowed;
}

.affordableUpg{
	background-color:#BFB;
	cursor:pointer;
	text-decoration:none;
}
.affordableUpg *{
	cursor:pointer;
}

.listBlock{
	float:left;
	width:200px;
	border:solid 1px;
	border-radius:10px;
}
.listBlockHeader{
	font-weight:bold;
	border-bottom:solid 2px #333;
	text-align:center;
}

.scrollBlock::-webkit-scrollbar{ width:6px; }
.scrollBlock{
	overflow-y:scroll;
	scrollbar-width: thin;
	height: calc(100% - 25px);
	margin: 0 10px 0 0;
}
.scrollBlockFull::-webkit-scrollbar{ width:6px; }
.scrollBlockFull{
	overflow-y:scroll;
	scrollbar-width: thin;
	height: 100%;
	margin: 0 10px 0 0;
}


.barracksBlock{
	width:100%;
	border-bottom:solid 1px #333;
	text-align:center;
}
.minionBlock{
	float:left;
	width:290px;
	border:solid 1px;
	padding:5px;
}

.simpleMinionBlock{
	width:60px;
}

.compactMinionBlock{
	width:440px;
}

.simpleCompactMinionBlock{
	width:200px;
}

.listInline{
	display:inline;
}

.progressBar{
	width:1%;
	height:100%;
	overflow:visible;
	white-space: nowrap;
	background-color:#3F3;
	color:#000;
	border-right:solid 1px #333;
	border-radius:5px;
	padding-left:1px;
}
.progressBackground{
	background-color:#FAA;
	width: calc(100% - 40px);
	height:20px;
	color:#000;
	padding-right:1px;
	margin:1px;
	display:inline-block;
	border-radius:5px;
}

.bossListItem{
	display:flex;
}
.bossProgressBackground{
	width:100%;
	height:18px;
}
.bossSelectLabel{
	overflow:visible;
}

.autoSave{
	margin: 2px 0px 1px 22px;
	width:175px;
	height:20px;
	line-height:20px;
	position:fixed;
	bottom:1px;
	right:-5px;
	cursor:pointer;
	color:#000;
}

.drawArea{
	width:100%;
	height:100%;
}

.autobuy{
	padding:30px 0px;
}

.prestigePosition{
	min-width:220px;
	width:220px;
	position: inherit;
}
.prestige{
	position:relative;
	bottom:0px;
	padding:5px;
	border-radius: 10px
}

.prestigePosition .upg{
	width:180px;
}

.feat{
	width:210px;
	height:125px;
}

.bossControlArea{
	text-align:center;
}

.activeAbilityBackground{
	width:95%;
	background-color:#FAA;
	height:17px;
	color:#000;
	text-align:center;
	margin:0px auto;
	border-radius: 50px;
}
.activeAbilityProgressBar{
	width:1%;
	height:100%;
	overflow:visible;
	white-space: nowrap;
	background-color:#3F3;
	color:#000;
	
	display:flex;
	text-align:center;
	justify-content: center;
	margin:0px auto;
	border-radius: 50px;
}

.bossButtonActive{
	border:solid 3px #33A;
	cursor:not-allowed;
	border-radius: 50px;
}
.bossButtonAvailable{
	border:solid 3px #3A3;
	cursor:pointer;
	border-radius: 50px;
}
.bossButtonUnavailable{
	border:solid 3px #A33;
	cursor:not-allowed;
	border-radius: 50px;
}
.bossButtonDisabled{
	border:solid 3px #555;
	background-color:#999;
	cursor:not-allowed;
	text-decoration: line-through;
	border-radius: 50px;
}
.spawnPool{
	width:calc(100% - 10px);
	min-width:140px;
	display:inline-grid;
	padding: 10px;
}
.spawnPoolRow{
	line-height:23px;
	display: inline-flex;
}

.help{
	flex-direction: column;
	overflow-y:scroll;
}

.helpItem{
	border-top:solid 3px #999;
	display:none;
}

.overflowXHidden{
	overflow-x:hidden;
}

.modalContainer{
	display:block;
	position:fixed;
	z-index:100;
	left:0px;
	top:0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #0009;
}
.modalContent{
	margin: 10px auto;
	padding: 20px;
}
.infoContent{
	width: 250px;
}
.introContent{
	width: 800px;
}
.helpContent{
	width: 800px;
	max-height:40%;
	overflow-y:scroll;
}
.confirmContent{
	width:400px;
}
.gainsContent{
	width:150px;
}
.helpText{
	padding:0px;
	margin:0px;
	border:none;
}

.version{
	position:fixed;
	bottom:0px;
	left:0px;
	font-size:8pt;
}

.partialLabel{
	display:inline;
	margin:0px;
	padding:0px;
}

.upgCostDiv{
	float:right;
	margin:0px;
	padding:0px;
}

.item{
	border:1px black solid;
	margin:5px 0px;
	position:relative;
}

.itemTitle{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	background-color:#222;
}

.itemName{
	font-weight:bold;
	padding-left:5px;
	width:100px;
	color:#CCD;
}

.itemType{
	width:100px;
	text-align:center;
	color:#BBC;
}

.itemScore{
	padding-right:5px;
	text-align:right;
	width:100px;
	color:#AAA;
}

.itemAttributeList{
	margin:0px;
	margin-bottom:22px;
	border-bottom:1px solid #333;
}

.itemStat{
	padding-left:5px;
	margin-top:0px;
}

.itemAttributes{
	padding-left:5px;
	margin-top:0px;
}

.equipmentBlock{
	width:179px;
	border:1px solid #333;
}

.btnEquip{
	position:absolute;
	bottom:0px;
	right:0px;
}

.btnLock{
	position:absolute;
	bottom:0px;
	left:0px;
	width:35px;
}

.deployedMinions {
	display:inline-block;
	font-weight:bold;
	padding:3px;
	width:200px;
	line-height:30px;
}

.btnSell{
	position:absolute;
	bottom:0px;
	left:45px;
}

.invCount{
	float:right;
}

.error{
	color:#F00;
}

.chkItemFilter{
	float:right;
	padding-right:5px;
}

.effect{
	border:1px solid #333;
}
.effectName{
	font-weight:bold;
	float:left;
}
.effectDuration{
	float:right;
}
.effectDetails{
	text-align:center;
}

.btnReforge{
	width:119px;
	border-radius: 10px;
}

.forgeStattribute{
	position:relative;
	height:250px;
	min-width:175px;
}

.divForgeAttributes{
	border-left:solid 1px #333;
}

.forgeStattribute .upg{
	width:150px;
}


.forgeHeader{
	font-weight:bold;
}

.forgeRangeHolder{
	display:flex;
	margin-bottom:5px;
	margin-top:5px;
}

.forgeRange{
	width:95%;
 	height: 3px;
	cursor: pointer;
	margin: 5px;
}

.forgeLeft{
	width:25px;
	margin-left:5px;
}

.forgeRight{
	width:25px;
	margin-right:5px;
}

.forgePower{
	width:100%;
	text-align:center;
}

.forgeUpgrade{
	position:absolute;
	bottom:22px;
	left:0px;
}

.forgeRefine{
	position:absolute;
	bottom:0px;
	left:0px;
}

.forgeReroll{
	position:absolute;
	bottom:44px;
	left:0px;
}

.anvil{
	width:450px;
	display:flex;
}

.storeLevel{
	width:80px;
}

.divBombStock{
	display: flex;
}

.storeButtonImg{
	width:45px;
	height:45px;
	margin:0 auto;
}

.storeExchange{
	display:flex;
	max-width:550px;
}

.paused{
	position:fixed;
	font-size:36pt;
	z-index:75;
}

.button{
	background-color:#0AF;
	color:#000;
	border:solid 1px;
	outline:none;
	text-align:center;
}

.textCenter{
	text-align: center;
}

.helpButton{
	background-color:#0AF;
	color:#000;
	border:solid 1px;
	outline:none;
	text-align:center;
}

.tabHelp{
	padding:5px;
	width:100%;
	min-width:175px;
	height:40px;
	font-size:16pt;
	margin-bottom:10px;
}

.minionHelp{
	padding:5px;
	width:100px;
	height:28px;
}

.gtHelp{
	float:right;
}

.dtHelp{
	font-size:16pt;
	width:210px;
}

.ddHelp{
	max-height:0px;
	overflow:hidden;
	transition: all .3s ease;
}

.ddHelp.expand{
	max-height:1750px;
}

.ddRotate{
	-webkit-transform: rotate(90deg); /* Safari and Chrome */
	-moz-transform: rotate(90deg);   /* Firefox */
	-ms-transform: rotate(90deg);   /* IE 9 */
	-o-transform: rotate(90deg);   /* Opera */
	transform: rotate(90deg);
	display:inline-block;
}

.mnuHilite{
	background-color:#0F0 !important;
}

.helpMechanic{
	list-style-type:disc;
}

.statsNotes{
	list-style-type:disc;
	padding-left:40px;
}
.subHelp{
	list-style-type:disc;
	padding-left:40px;
}

.itemT0{
	color:#AAA;
}
.itemT1{
	color:#FF3;
}
.itemT2{
	color:#AF3;
}
.itemT3{
	color:#3F3;
}
.itemT4{
	color:#3F9;
}
.itemT5{
	color:#3FF;
}
.itemT6{
	color:#3AF;
}
.itemT7{
	color:#33F;
}
.itemT8{
	color:#93F;
}
.itemT9{
	color:#F3F;
}
.itemT10{
	color:#F3A;
}
.itemT11{
	color:#F33;
}

.bold {
	font-weight:bold;
}
.flex {
	display:flex;
}
.hide {
	display:none;
}
.center {
	margin:0 auto;
}
.blockHeader{
	text-align:center;
	font-weight:bold;
}
.fullWidth{
	width:100%;
}
.miscNote{
	color: #777777; 
	font-size: 10pt;
}
.ketchup{
	width:225px;
	line-height:20px;
	position:fixed;
	top:0px;
	right:0px;
	color:#000;
	padding:5px;
	background-color:#FFFC;
	z-index:100;
}
.ketchupInfo{
	width:425px;
	line-height:20px;
	position:fixed;
	top:30px;
	right:0px;
	color:#000;
	padding:5px;
	background-color:#FFFC;
	z-index:100;
	display:none;
}
.ketchup:hover + .ketchupInfo{
	display:block;
}
